<div class="row margin-top-25">
  <div class="col-lg-12">
    <div class="row">
      <div class="panel panel-success">
        <div class="panel-heading">
          Configuration
        </div>
        <div class="panel-body">
          <label>Timeout:</label>
          <input type="number" class="form-control" min="500" max="10000" step="500" ng-model="step" ng-change="start = false"></input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <button class="btn btn-default" ng-click="start = true">Start</button>
        <button class="btn btn-default" ng-click="start = false">Stop</button>
      </div>
      <div class="col-lg-3">
        <div ng-if="start">
          <label>Is running..</label>
        </div>
        <div ng-if="!start">
          <label>Isn't running..<label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-lg-offset-2 margin-top-25 margin-bottom-25">
    <canvas gol width="500" height="500" cellsize="5" init="init" start="start" step="step" id="canvas"></canvas>
  </div>
</div>
